*{
    margin: 0;
    padding: 0;
}

.row{
    display: flex;
}

.box3, .box4{
    width: 50%;
    height: 300px;
}

.box5, .box6{
    height: 150px;
}

.box1{
    background-color: rgb(151, 135, 222);
    height: 150px;
}

.box2{
    background-color: rgb(117, 17, 25);
    height: 50px;
}

.box3{
    background-color: rgb(0, 255, 179);
}

.box4{
    background-color: rgb(95, 109, 92);
}

.box5{
    background-color: rgb(98, 29, 177);
}

.box6{
    background-color: rgb(138, 130, 103);
}

.box7{
    height: 50px;
    background-color: rgb(135, 153, 36);
}